.slider-container {
	width:500px;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

.image-container {
	width: 2400px;
	height: 600px;
	position:relative;
	transition: left 2s;
	-webkit-transition:left 2s;
	-moz-transition:left 2s;
	-o-transition:left 2s;
}

.slider-image{
	float: left;
	margin: 0px;
	padding: 0px;
}