@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

  
 .news-box {
  height: auto;
  padding: 5px;
  width:60%;
  margin:0 auto;
 
}

.news-box h2{
  padding:20px;
  line-height: 30px;
  font-family:leelawadee;
}

.news-box .article-body{
      font-family: 'Montserrat', sans-serif;
      padding-left: 40px;
      font-size: 20px;
      letter-spacing: 2px;
      line-height: 40px;
      width: 100%;

}


.account-details-container {
  color: whitesmoke;
  background-color: #101522;
  width:auto;
  height: 100%;
  padding: 60px;
  text-align: center;
  
}

.account-details-container:hover{
      background-color: rgba(0,0,0,0.9); 
       transition: all 1s ease-in;
}

                        

.account-details-container h3{
  color: whitesmoke;
}

.acct-name-head{
  
  background-color: ;
  margin-top: 10px;
  padding-top: 10px;
  font-family: Bookman Old Style;
  font-size: 20px;
}

.acct-name {
  background-color: grey ;
  color: whitesmoke;
  padding: 15px;
  margin-top: 10px;
  font-family: Bookman Old Style;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  line-height: 38px;
  display: block;
}


.acct-no{
  background-color: grey ;
  color: whitesmoke;
  padding: 20px;
  margin-top: 10px;
  font-family: Bookman Old Style;
  font-size: 20px;
  font-weight: 600;
  display: block;
  width: 100%;

}









@media only screen and (max-width: 991px) {

 .news-box {
  height: auto;
  padding: 5px;
  box-shadow:  ; 
  width:90%;
  margin:0 5%;
 
}


.news-box h2{
	 font-size:15px;
	 padding-left:10px;
  
}

.news-box .article-body{
 
      padding-left: 5px;
      font-size: 16px;
      letter-spacing: 2px;
      line-height: 28px;


}
}

@media only screen and (max-width: 991px) {

 .news-box {
  height: auto;
  padding: 5px;
  box-shadow:  ; 
  width:90%;
  margin:0 5%;
 
}
}


